<!DOCTYPE html>
<html>
    <head>
        <title>Registration Successful</title>
    </head>
    <body>
		Hello {{name}} @{{username}} <br><br>
		
		Email: {{email}} <br>
		
		Age: {{age}} <br>
		
		Gender: {{gender}} <br>
		
		School: {{school}} <br>
		
		Study Interests: {{studyInterests}}
		
		Education Level: {{educationLevel}} <br>
	
		Learning Style: {{learningStyle}} <br>
		
		About Me: {{aboutMe}} <br>
		
        Profile Picture: <img src="{{url_for('get_file', filename = photo)}}">
		
	</body>
</html>
