@import url('https://fonts.googleapis.com/css?family=Poppins');

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #503E9D;
}

.loginForm {
    position: absolute;
    width: 662px;
    height: 950px;
    left: 250px;
    top: 0px;
    background-color: #FFFFFF;
    padding: 0px 60px;
}

.loginFormInput {
    position: relative;
    left: 85px;
    top: 200px;
}

h1 {
    position: absolute;
    left: 150px;
    top: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #181B1A;
}


.loginButton {
    position: absolute;
    left: 140px;
    top: 500px;

    width: 25%;
    height: 50px;
    padding: 10px;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    background-color: #503E9D;
    margin-top: 15px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    
    color:#FFFFFF;

    cursor: pointer;
}