@import url('https://fonts.googleapis.com/css?family=Poppins');

.create-profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #503E9D;
}

.create-profile-form-container {
  display: flex;
  align-items: top;
  justify-content: left;
  height: 760px;
  width: 960px;
  background-color: #FFFFFF;
}

.create-profile-heading {
  text-align: left;
  margin-top: 40px;
  margin-left: 100px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;

  color: #181B1A;
}

.create-profile-label {
  text-align: left;
  padding: 0px 0px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;

  color: #181B1A;
}

.left-to-right-block {
  text-align: left;
  flex-direction: row;
}

.input-field-dropdown {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-left: 100px;
}

select, input {
  padding: 8px 11px;
  margin: 10px 0px;
  border-radius: 6px;
  border: 1px solid #B3B6B6;
}
