.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #503E9D;
}

.loginPage form {
    position: absolute;
    width: 662px;
    height: 950px;
    left: 250px;
    top: 0px;
    background-color: #FFFFFF;
    padding: 0px 60px;
}

.loginPage .loginFormInput {
    position: relative;
    left: 85px;
    top: 200px;
}

.loginPage label {
    display: flex;
    position: relative;
    left: 70px;
    top: 220px;
    margin: 20px
}

.loginPage h1 {
    position: absolute;
    left: 150px;
    top: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #181B1A;
}

.loginPage .loginButton {
    position: absolute;
    left: 140px;
    top: 500px;

    width: 25%;
    height: 50px;
    padding: 10px;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    background-color: #503E9D;
    margin-top: 15px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    
    color:#FFFFFF;

    cursor: pointer;
}

.loginPage .signupButton {
    position: absolute;
    left: 400px;
    top: 500px;

    width: 25%;
    height: 50px;
    padding: 10px;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    background-color: #FB6D3A;
    margin-top: 15px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    
    color:#FFFFFF;

    cursor: pointer;
}

.loginPage .loginImage {
    position: absolute;
    width: 662px;
    height: 950px;
    right: 250px;
    top: 0px;
}

.registerPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #503E9D;
}

.registerPage form {
    position: absolute;
    width: 662px;
    height: 950px;
    left: 250px;
    top: 0px;
    background-color: #FFFFFF;
    padding: 0px 60px;
}

.registerPage .registerFormInput {
    position: relative;
    left: 85px;
    top: 170px;
}

.registerPage label {
    display: flex;
    position: relative;
    left: 80px;
    top: 180px;
    margin: 10px;
}

.registerPage h1 {
    position: absolute;
    left: 150px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    color: #181B1A;
}

.registerPage .registerButton {
    position: absolute;
    left: 140px;
    top: 720px;

    width: 25%;
    height: 50px;
    padding: 10px;
    border-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    background-color: #503E9D;
    margin-top: 15px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    
    color:#FFFFFF;

    cursor: pointer;
}

.registerPage .loginImage {
    position: absolute;
    width: 662px;
    height: 950px;
    right: 250px;
    top: 0px;
}